*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

header h1{
    color: sandybrown;
    font-size: 60px;
}

.logo{
    width: 150px;
}

.banner {
    width: 100%;
    object-fit: contain;
}

.index-title{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
}

section{
    text-align: center;
    display: inline-block;
    width: 500px;
    
}

nav{
    display: inline-block;
    width: 200px;
}

nav a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 15px;
    margin: 20px;
    font-size: 20px;
}

.club-name {
    color: green;
    font-size: 40px;
}
.title {
    color: aquamarine;
    font-size: 50px;
}
.title2{
    color: greenyellow;
    font-size: 30px;
}

.lista{
    font-size: 20px;
}

.item {
    font-size: 20px;
}